*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    background-color: #111111;
    color: white;
    font-family: 'Gemunu Libre', sans-serif;
}
.counterContainer{
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: #333333;
}
.counterContainer p{
    font-size: 26px;
}
.counterContainer button{
    font-family: 'Gemunu Libre', sans-serif;
    font-size: 16px;
    margin-top: 5px;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 9px;
    background-color: #111;
    color: white;
    cursor: pointer;
}
.counterContainer button:hover{
    background-color: #444;
    border: 1px solid dimgray;
    color: #aaaaaa;
}
.videos{
    list-style-type: none;
}
.videos li{
    margin: 30px 30px;
}
.thumbnail, .title{
    display: inline-block;
}
.thumbnail{
    width: 160px;
    height: 120px;
    overflow: hidden;
}
.title{
    margin-top: 10px;
    margin-left: 20px;
    vertical-align: top;
    font-weight: 400;
    font-size: 20px;
}
.duration{
    position: relative;
    bottom: 30px;
    left: 115px;
    color: white;
    background-color: #111111;
    padding: 3px 5px;
    text-align: right;
    border-radius: 4px;
}
.backbtn{
    transition: all .25s;
    font-size: 30px;
    position: fixed;
    bottom: 0;
    right: 0;
    color: black;
    text-decoration: none;
    padding: 10px;
    background-color: (255,255,255 0.5);
    border: 5px solid rgba(255,255,255,0.6);
    border-radius: 8px 0 0 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.backbtn:hover{
    background-color: rgba(255,255,255,0.8);
    border-color: dimgrey;
}
@media(max-width: 400px){
    .thumbnail, .thumbnail img{
        width: 120px;
        height: 90px;
    }
    .duration{
        position: relative;
        left: 75px;
        bottom: 30px;
    }
}
